* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/**
 * Canvas
 */

.whiteboard {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.colors {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    top: 0;
    padding: .5em;
}

.color {
    height: 2em;
    width: 2em;
    margin-bottom: .5em;
    cursor: pointer;
    transition: opacity 500ms;
}

.color:hover {
    opacity: .5;
}

.color.black {
    background-color: black;
}

.color.red {
    background-color: red;
}

.color.green {
    background-color: green;
}

.color.blue {
    background-color: blue;
}

.color.yellow {
    background-color: yellow;
}